{% import 'macros/form.html' as form %}
<script type="text/javascript">
	function sCheck_data_format(cb){
		if(cb.value=="อื่นๆ" && cb.checked==true){
            document.getElementById('field-data_format_other').value = '';
            document.getElementById('field-data_format_other').disabled = false;
            document.getElementById('field-data_format_other').focus()
        } else if(cb.value=="อื่นๆ" && cb.checked==false) {
            document.getElementById('field-data_format_other').value = '';
            document.getElementById('field-data_format_other').disabled = true;
        }
	}
</script>
<style>
fieldset.checkboxes label {
    font-weight: normal;
    display: block;
}
fieldset.checkboxes label:after {
    content: none;
}
fieldset.checkboxes label input {
    width: auto;
    top: 0;
}
</style>

{%- set options=[] -%}
{%- set form_restrict_choices_to=field.get('form_restrict_choices_to') -%}
{%- if not h.scheming_field_required(field) or
  field.get('form_include_blank_choice', false) -%}
{%- do options.append({'value': '', 'text': ''}) -%}
{%- endif -%}
{%- for c in h.scheming_field_choices(field) -%}
  {%- if not form_restrict_choices_to or c.value in form_restrict_choices_to -%}
    {%- do options.append({
      'value': c.value|string,
      'text': h.scheming_language_text(c.label) }) -%}
  {%- endif -%}
{%- endfor -%}

{% call form.select(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    options=options,
    selected=data.get(field.field_name, field.get('default', 'notspecified')),
    error=errors[field.field_name],
    classes=['control-medium'],
    is_required=h.scheming_field_required(field),
    attrs = {'class' : "form-control", 'onchange' : "sSelect_license_id();"}
    )
%}
{% endcall %}

<!-- {%- call form.input_block(
    label=h.scheming_language_text(field.label),
    classes=['control-medium'],
    error=errors[field.field_name],
    is_required=h.scheming_field_required(field)) -%}
  {%- set choices = [] -%}
  {%- for c in h.scheming_field_choices(field) -%}
    {%- do choices.append(
      (c.value, h.scheming_language_text(c.label))) -%}
  {%- endfor -%}
  {%- if field.get('sorted_choices') -%}
    {%- set choices = choices|sort(case_sensitive=false, attribute=1) -%}
  {%- endif -%}
    <fieldset class="checkboxes">
        {%- for val, label in choices -%}
            <label for="field-{{ field.field_name }}-{{ val }}">
                <input id="field-{{ field.field_name }}-{{ val }}"
                    type="checkbox"
                    name="{{ field.field_name }}"
                    value="{{ val }}"
                    {{"checked " if val in data[field.field_name] }} 
                    onclick="sCheck_data_format(this);" />
                {{ label }}
            </label>
        {%- endfor -%}
    </fieldset>
{%- endcall -%} -->

