{% extends "page.html" %}

{% block primary_content %}

<form id="oic-login-form" action="" method="post" enctype="multipart/form-data">
  <fieldset>
  <legend>Please log in with your OIC account</legend>
  <span class="text">username</span><br/>
  <input class="control-medium" type="text" id="username" name="username">
  <br/>
  <span class="text">password</span><br/>
  <input class="control-medium" type="password" id="password" name="password">
  <br/><br/>
  {% if error_message!='' %}
  <span>{{error_message}}</span><br/>
  {% endif %}
  <div class="form-actions">
    <button class="btn btn-primary" type="submit" name="login">เข้าสู่ระบบ</button>
  </div>
</fieldset>
</form>

{% endblock %}
